exportPattern("^[[:alpha:]]+")
import(parallel)
import(matrixcalc)
import(MASS)
importFrom("grDevices","chull","graphics","hist","lines","par","plot")
importFrom("points","stats","integrate","median","optim","qbinom","qchisq")
importFrom("qnorm","quantile","rbinom","rgamma","rnorm","rpois","runif")
importFrom("utils","combn")