exportPattern("^[[:alpha:]]+")
import("parallel")
import("matrixcalc")
import("MASS")
importFrom("grDevices","chull")
importFrom("graphics","hist","lines","par","plot","points")
importFrom("stats","integrate","median","optim","qbinom","qchisq", "qnorm","quantile","rbinom","rgamma","rnorm","rpois","runif")
importFrom("utils","combn")